db.sqlite3

venv

.git
.vscode

**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__/
*/__pycache__/

static
!**/app/static

**/silero_models/en/**
!**/silero_models/en/.gitkeep

**/silero_models/ru/**
!**/silero_models/ru/.gitkeep

**/vosk_small/ru/**
!**/vosk_small/ru/.gitkeep
